/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 *
 */

@import "foundation_and_overrides";

@import "font-awesome-sprockets";
@import "font-awesome";

[class^='select2'] {
  border-radius: 0px !important;
}

aside {
  padding: 10px;

  ul.tag-list {
    list-style: none;
    li {
      clear:both;
      padding: 0 rem-calc(8);

      &.highlight {
        //background-color: scale-color($sidebar-bg-color, $lightness: 50%);
      }

      label {
        //color: $sidebar-font-color;
      }

      span.document_count {
        margin-right: 1em;
      }
    }
  }



  .select2-container {
    margin-bottom: 1em;

    > a {
      padding: rem-calc(8);
    }

    .select2-choice {
      height: 2.3125rem;

      > .select2-chosen {
        padding-top: rem-calc(4);
      }
    }

    .select2-arrow {
      b {
        background-position-y: rem-calc(6);
      }
    }
  }
}

@media #{$small-up} {
  ul.tag-list {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}
@media #{$medium-up} {
  ul.tag-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

@media #{$large-up} {
  ul.tag-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}


main {
  .document-image {
    margin-top: 1em;
    border: 1pt solid $sidebar-bg-color;
  }
}

// main {
//   float: left;
//   margin-left: 285px;
//   padding: 0;
//   width: -moz-calc(100% - #{270px});
//   width: -webkit-calc(100% - #{270px});
//   width: -o-calc(100% - #{270px});
//   width: calc(100% - #{270px});

//   position: relative;
//   height: -moz-calc(100% + #{$topbar-height});
//   height: -webkit-calc(100% + #{$topbar-height});
//   height: -o-calc(100% + #{$topbar-height});
//   height: calc(100% + #{$topbar-height});
//   overflow-y: scroll;
// }


@media #{$small-up} {
  select.tags {
    display: none;
  }

  div.tags {
    span.label {
      margin-right: 2px;
      cursor: pointer
    }
  }

  .tag-input {
    border-bottom: 1px dashed scale-color($sidebar-bg-color, $lightness: 50%);

    input {
      color: white;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background: none;
      margin: 0;
      font-size: 1rem;

      &:focus {
        background: none;
      }
    }
  }
}

.tags {
  @include label(
    // This options sets label padding
    $padding:7px 16px 9px,
    // This option sets label text-size
    $text-size:13px,
    // This option sets label background-color
    $bg:#2ba6cb,
    // This option sets the radius of the label
    $radius:4px
  );
}
